<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../Styles/bootstrap-new.min.css" />
	<script type="text/javascript" src="../Scripts/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
	  <div class="panel-heading">领导权限管理
	  	<button type="button" class="btn btn-primary btn-sm" style="float: right; margin-top: -5px;">确认</button>
	  </div>
	  <div class="panel-body">
	    <form action="" class="form-group">
	    		<div class="checkbox">
	    		    <label>
	    		      <input type="checkbox" checked> 业务运营管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox" checked> 客户服务管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox" checked> 综合办公管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox"> 广域网管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox"> 网站系统管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox"> 邮件系统管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox"> 数据采集&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox" checked> 协同调度&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox" checked> 统一信息库&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox" checked> 应用展示
	    		    </label>
	    		</div>
	    	</form>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">一般用户权限管理
		<button type="button" class="btn btn-primary btn-sm" style="float: right; margin-top: -5px;">确认</button>
	  </div>
	  <div class="panel-body">
	    <form action="" class="form-group">
	    		<div class="checkbox">
	    		    <label>
	    		      <input type="checkbox" checked> 业务运营管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox" checked> 客户服务管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox" checked> 综合办公管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox"> 广域网管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox"> 网站系统管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox"> 邮件系统管理&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox"> 数据采集&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox"> 协同调度&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox"> 统一信息库&nbsp;&nbsp;
	    		    </label>
	    		    <label>
	    		      <input type="checkbox"> 应用展示
	    		    </label>
	    		</div>
	    	</form>
	  </div>
	</div>
</body>
</html>